name: Lint Commit Messages in Merge Queue

on:
  merge_group:
    types:
      - checks_requested

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.merge_group.head_sha }}

      - name: Validate Commits
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: ./scripts/ci/commitlint.config.js