name: Semantic Version Check

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  contents: read
  pull-requests: write

jobs:
  semantic-check:
    name: Validate and Predict Version
    runs-on: ubuntu-latest
    
    steps:    
      - name: Validate PR Title
        uses: amannn/action-semantic-pull-request@v5
        id: amannn
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
          requireScope: false
          #subjectPattern: ^[A-Z].+$
          #subjectPatternError: |
          #The subject should start with an uppercase character.
          validateSingleCommit: false

      - name: Checkout code
        uses: actions/checkout@v4
        #if: always() && (steps.amannn.outputs.error_message != null)
        with:
          fetch-depth: 0
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
      
      - name: Install dependencies
        run: |
          npm install semver --production
      
      - name: Calculate Next Version
        id: version
        run: |
          echo "Current directory: $(pwd)"
          echo "Listing root contents:"
          ls -R
          cd ./scripts/ci
          node calculate-version.js
        env:
          # Hash of the commit tagged as v0.0.1 (GitHub Release Tag)
          BASE_TAG: 4a112c754abba0bb893ae3d22c1b5e825c1e1584
          BASE_VERSION: 0.0.1
          PR_TITLE: ${{ github.event.pull_request.title }}
      
      - name: Comment PR with Version
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.version.outputs.comment }}
          comment-tag: semantic-version-bot
